@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');

* {
    font-family: 'Nunito';
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-rows-2 {
    grid-template-rows: repeat(2, 1fr);
}

.card1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

.card2 {
    position: absolute;
    left: 40%;
    /* grid-column: 2 / span 1;
    grid-row: 1 / span 1; */
}

.card3 {
    position: absolute;
    top: 45%;
    /* grid-column: 1 / span 1;
    grid-row: 2 / span 1; */
}

.bannerName {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 28px;
    /* identical to box height, or 140% */
    letter-spacing: 0.1px;
}

.bannerOff {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 2.9rem;
    line-height: 56px;
    /* identical to box height, or 140% */
    letter-spacing: 0.1px;
}

.bannerDesc {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.1px;
    color: #83859C;
}

.box-shadow {
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.16);
}

.menuCard:hover {
    color: #4747d1;
    border-color: #4747d1;
    cursor: pointer;
}

.cardImage:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.bannerHoverEffect:hover{
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.16);
}