@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');

*{
    font-family: 'Nunito';
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-rows-2 {
    grid-template-rows: repeat(2, 1fr);
}
.card1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

.card2 {
    position: absolute;
    left: 40%;
    /* grid-column: 2 / span 1;
    grid-row: 1 / span 1; */
}

.card3 {
    position: absolute;
    top: 45%;
    /* grid-column: 1 / span 1;
    grid-row: 2 / span 1; */
}
